snippet book "Description" 
if(${1}) {
	print("${2}")
}
endsnippet



snippet if "if(true)..(visual)" b
if (${1:true}) {
	${VISUAL:default}
}
endsnippet

snippet main "main" b
if __name__ == '__main__':
	${0}
endsnippet

