snippet fun "function" b
fun! ${1:function_name}($2)
	${3:" code}
endf
endsnippet


snippet comm "Comment vim template" b
"==========================================================
"		${1:Comment}
"=========================================================
${2}
endsnippet

